/**
 *     
 * EPS 301 REDIRECTS 
 * 
 */


/*----------------------------------------------------------*/
/*------------------------ Headings ------------------------*/
/*----------------------------------------------------------*/


h2.eps-title {
    color: #68214d !important;
    font-size: 32px !important;
    padding-top: 24px;
}

#icon-eggplant {
    background: url('../icons/eggplant-64.png') center center no-repeat;
    width: 64px; height: 64px; float: left; margin-right: 12px; margin-top: 8px;
}


/*#eps-redirect-entries { margin-top: 32px; padding: 12px; border: 1px solid #d6d6d6; box-shadow: 1px 1px 6px #f4f4f4; min-width: 810px; }*/
#eps-redirect-entries h3 { margin: 8px; font-size: 20px; font-weight: 100; border-bottom: 1px solid #eeeeee; padding-bottom: 12px; }

tr.redirect-entry td, tr.redirect-entry th { padding: 6px 8px; }
.eps-request-url {  }
.eps-redirect-url { width: 20em;  }

/*----------------------------------------------------------*/
/*---------------------- notifications ---------------------*/
/*----------------------------------------------------------*/



.eps-notification-area {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0px 4px; padding: 4px 8px;
    text-shadow: 1px 1px 1px white;    display: inline-block;
    zoom: 1;
}

.eps-notification-area.valid {
   background: #cdf2d9; color: #195b2d; border: 1px solid #587b63;
}

.eps-notification-area.invalid {
   background: #f2cdcd; color: #6a2222; border: 1px solid #935e5e;
}

/*----------------------------------------------------------*/
/*-------------------------- Buttons -----------------------*/
/*----------------------------------------------------------*/

a.eps-text-link, a.eps-text-link:visited, a.eps-text-link:link {
    display: inline-block;
    zoom: 1;
    padding: 4px 8px;
    text-decoration: none;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 10%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(10%,#eeeeee), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 10%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#eeeeee 10%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#eeeeee 10%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 10%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

    border: 1px solid #dddddd;
    margin: 0px 4px;
    text-shadow: 1px 1px 1px white;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a.eps-text-link:hover { background: #fafafa; }

a.eps-text-link.remove {
    color: #aa0000;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
a.eps-text-link.remove:hover { color: #fafafa; background: #aa0000;}

a.eps-text-link.new {
  padding: 8px;
  margin-top: 32px;
}

/*----------------------------------------------------------*/
/*--------------------------- tabs -------------------------*/
/*----------------------------------------------------------*/
#eps-tabs {  padding: 12px 32px; border: 1px solid #d6d6d6; box-shadow: 1px 1px 6px #f4f4f4; }

#eps-tab-nav { margin-top: 32px;   }
#eps-tab-nav a, #eps-tab-nav a:link, #eps-tab-nav a:visited { 
    display: inline-block; 
    border: 1px solid #d6d6d6;
    padding: 16px 32px;
    background: #fafafa;
    text-decoration: none;
    font-size: 16px; font-weight: bold;
    position: relative; bottom: 0px;
    -webkit-transition: all 100ms;
}

#eps-tab-nav a.active, #eps-tab-nav a:hover{ 
    background: white;
    position: relative;
    bottom: -1px;
    padding: 20px 32px;
    background: white;
    border-bottom: none;
}
#eps-tabs .eps-tab { display: none; }
#eps-tabs .eps-tab:first-child { display: block; }


/*----------------------------------------------------------*/
/*--------------------------  misc  ------------------------*/
/*----------------------------------------------------------*/

hr.eps-divider { border: none; margin: 16px 0px; }
.padding { padding: 12px; }
.eps-grey-text { font-style: italic; color: #888888; }
